{{#extend "section"}}
    {{#content "content"}}

    <div class="cards-articls">
      <h2 class="cards-articls__title title-h2">
        Мы развиваемся во всех направлениях
      </h2>
      <div class="cards-articls__swiper js-mobile-slider swiper">
        <ul class="cards-articls__items swiper-wrapper">
          {{#each sections.cardsObjects.swiperContent}}
          <li class="cards-articls__item swiper-slide">
            <div class="cards-articls__item-box">
              <img class="cards-articls__item-img" src={{this.imgUrl}} alt={{this.imgAlt}}>
            </div>
            <a class="cards-articls__item-title" href={{this.link}}>
              {{this.title}}
              <svg width="24" height="24">
                <use xlink:href="#arrow-link-45" />
              </svg>
            </a>
            <p class="cards-articls__item-text">
                {{this.text}}
            </p>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{/content}}
{{/extend}}