<section class="intro-main">
    <div class="container">
        <div class="intro-main__inner">
            <div class="intro-main__mobile-wrapper">
                <img class="intro-main__mobile-background show-on-small-tablet" src="img/content/intro-main/mobile.jpg" alt="Intro Mobile Background">
                <div class="intro-main__mobile-overlay show-on-small-tablet" style="background-color: rgba(0, 0, 0, 0.5);"></div>
                <div class="intro-main__heading-block">
                    <h1 class="intro-main__heading">МНОЦ</h1>
                    <div class="intro-main__heading-decoration">
                        <span class="intro-main__heading-label">Междисциплинарный научно-образовательный центр</span>
                        <img src="img/content/decorations/intro-main-heading.svg" width="885" height="701" alt="Intro Main Heading Decoration">
                    </div>
                </div>
                <div class="intro-main__description-block">
                    <div class="intro-main__description">
                        <p>Первый научно-образовательный центр, занимающийся реализацией проектов в области информационной безопасности на стыке науки и бизнеса.</p>
                    </div>
                </div>
                <div class="intro-main__menu show-on-small-tablet">
                    <span class="intro-main__menu-label">Разделы</span>
                    <ul class="intro-main__menu-list">
                        {{#each menu.intro }}
                            <li>
                                <a class="intro-main__menu-link" href="{{this.link}}">
                                    <svg width="16" height="16">
                                        <use xlink:href="#arrow-link" />
                                    </svg>
                                    <span>{{this.name}}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="intro-main__footer">
                <img class="intro-main__footer-decoration" src="img/content/decorations/intro-main-footer.svg" width="728" height="299" alt="Intro Main Footer Decoration">
                <div class="intro-main__menu hide-on-small-tablet">
                    <span class="intro-main__menu-label">Разделы</span>
                    <ul class="intro-main__menu-list">
                        {{#each menu.intro }}
                            <li>
                                <a class="intro-main__menu-link" href="{{this.link}}">
                                    <svg width="16" height="16">
                                        <use xlink:href="#arrow-link" />
                                    </svg>
                                    <span>{{this.name}}</span>
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="intro-main__slider">
                    <div class="mini-slider js-mini-slider">
                        <div class="mini-slider__slider-navigation">
                            <div class="mini-slider__pagination"></div>
                            <div class="mini-slider__navigation">
                                <button class="mini-slider__navigation-button prev" type="button" title="Prev">
                                    <svg width="20" height="20">
                                        <use xlink:href="#arrow" />
                                    </svg>
                                </button>
                                <button class="mini-slider__navigation-button next" type="button" title="Next">
                                    <svg width="20" height="20">
                                        <use xlink:href="#arrow" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="mini-slider__slider swiper loading">
                            <ul class="mini-slider__slides swiper-wrapper">
                                {{#each introMain.slides}}
                                    <li class="mini-slider__slide-wrapper swiper-slide">
                                        <div class="mini-slider__slide">
                                            <a class="mini-slider__slide-image-wrapper" href="{{this.link}}">
                                                <img src="{{this.image}}" alt="Image Description">
                                            </a>
                                            <div class="mini-slider__slide-content">
                                                <div class="mini-slider__slide-top">
                                                    <span class="mini-slider__slide-date">{{this.date}}</span>
                                                    <a class="mini-slider__slide-section" href="#">{{this.section}}</a>
                                                </div>
                                                <h2 class="mini-slider__slide-title">
                                                    <a href="{{this.link}}">{{this.title}}</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>